.friendshipLinkBox {
  padding: 30px;
}
.friendshipLinkBox .contentBox {
  box-shadow: 0 0 15px #999;
  border-radius: 7px;
  padding: 0 10px;
}
.friendshipLinkBox .contentBox .titleBox {
  text-align: right;
  padding: 20px 0;
}
